@model IEnumerable<PConfigAuth.Models.ConfigureViewModels.CPUViewModel>


@{
    ViewData["Title"] = "Configure";
}

<div class="container-fluid" id="row-container">
    <div class="row">
        <div class="col-md-3" id="category-column">
            <div class="panel-default">
                <div class="panel panel-heading">Categories</div>
                <div class="panel panel-body" id="category-panel-body">
                    <div class="btn-group-vertical" id="category-buttons">
                        <a asp-controller="Configure" asp-action="LoadCPUs" class="btn btn-primary custom-category-button">Processor</a>
                        <a asp-controller="Configure" asp-action="LoadGPUs" class="btn btn-primary custom-category-button">Graphics Card</a>
                        <a asp-controller="Configure" asp-action="LoadMOBOes" class="btn btn-primary custom-category-button">Motherboard</a>
                        <a asp-controller="Configure" asp-action="LoadRAMs" class="btn btn-primary custom-category-button">RAM Memory</a>
                        <a asp-controller="Configure" asp-action="LoadPSUs" class="btn btn-primary custom-category-button">Power Supply</a>
                        <a asp-controller="Configure" asp-action="LoadCases" class="btn btn-primary custom-category-button">Case</a>
                        <a asp-controller="Configure" asp-action="LoadCoolers" class="btn btn-primary custom-category-button">Cooling</a>
                        <a asp-controller="Configure" asp-action="LoadStorages" class="btn btn-primary custom-category-button">Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="hardware-column">
            <div class="panel-default">
                <div class="panel panel-heading">Processor</div>
                <div class="panel panel-body" id="hardware-panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU.Manufacturer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU.Series)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU.Socket)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU.Cores)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU.TDP)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU.iGPU)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU.Price)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CPU.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CPU.Manufacturer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CPU.Series)
                                    </td>
                                    <td @if (item.Socket_ok == false) { @Html.Raw("class=\"hw-parameter-wrong\"") }>
                                        @Html.DisplayFor(modelItem => item.CPU.Socket)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CPU.Cores)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CPU.TDP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CPU.iGPU)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CPU.Price)
                                    </td>
                                    <td>
                                        @if (item.Socket_ok == true)
    {
                                    <a asp-controller="Configure" asp-action="AddCPU" asp-route-id="@item.CPU.Id"><span class="glyphicon glyphicon-plus"></span></a>
}

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="temp-component-cont">
        @await Component.InvokeAsync("TempConfig")
    </div>
        

    
</div>

